/* VARIABLES */
:root {
  --blue1: #00b3e5;
  --blue2: #288eb7;
  --blue3: #005587;
  --blue4: #193c5b;
  --blue5: #288eb7;
  --green1: #20b2aa;
  --green2: #5f9ea0;
  --red1: #ff0000;
  --red2: #de1d1d;
  --yellow: #bc9617;
  --light-grey: #f5f5f5;
  --grey1: #999999;
  --grey2: #bfbfbf;
  --grey3: #4d4d4d;
  --grey4: #484848;
  --white: #ffffff;
  --black: #000000;
  --dark: #002837;
  --text-primary: #000000;
  --text-secondary: #4d4d4d;
  --f-family1: 'Titillium Web', Helvetica, 'Trebuchet MS', Arial, sans-serif;
  --f-family2: 'PT Serif', Georgia, serif;
}
/* global style */
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  color: var(--text-secondary);
  font-family: var(--f-family2);
  font-size: 16px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.4375rem;
  background-color: var(--white);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  font-family: var(--f-family1);
  font-weight: 700;
  letter-spacing: -0.0375rem;
  margin: 0 0 0.93747rem;
}
image {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
p {
  color: var(--text-secondary);
  font-family: var(--f-family2);
}
/* classes */
.d-none {
  display: none;
}
.icon {
  font-size: 18px;
}
.icon-md {
  font-size: 26px;
}
.icon,
.icon-md {
  color: var(--black);
  cursor: pointer;
}
.header-tools a:hover {
  opacity: 0.5;
}
.btn {
  display: block;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--f-family1);
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
  text-transform: uppercase;
  outline: none;
  border: none;
  padding: 0.4rem 0.5rem;
  width: max-content;
  border-radius: 0.188rem;
  transition: all 0.4s linear;
}
.btn-blue {
  background-color: var(--blue1);
  color: var(--white);
}
.btn-blue:hover {
  background-color: var(--blue2);
}
.btn-green {
  background-color: var(--green1);
  color: var(--white);
}
.btn-green:hover {
  background-color: var(--green2);
}
.btn-red {
  background-color: var(--red1);
  color: var(--white);
}
.btn-red:hover {
  background-color: var(--red2);
}
.btn-blue-dark {
  background-color: var(--blue3);
  color: var(--white);
}
.btn-blue-dark:hover {
  background-color: var(--blue4);
}
/* HEADER */
.main-header {
  padding: 1.5rem 1rem 0;
  margin-bottom: 1.3rem;
}
.header-lg-screen {
  display: none;
}
.logo {
  width: 150px;
}
.logo-lg {
  height: 3.5rem;
  width: 21.875rem;
}

@media screen and (min-width: 640px) {
  .logo {
    width: 200px;
  }
}
@media screen and (min-width: 1100px) {
  .main-header {
    border-bottom: 1px solid var(--grey2);
  }
}
.nav1,
.nav2,
.nav3,
.header-tools,
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav3,
.nav1 {
  padding: 0.3rem;
}
.nav1,
.nav2,
.nav3 {
  background-color: var(--white);
  max-width: 1200px;
  margin: 0 auto;
}
.nav2 {
  margin-bottom: 0.6rem;
  align-items: flex-start;
}
@media screen and (min-width: 1100px) {
  .header-sm-screen {
    display: none;
  }
  .header-lg-screen {
    display: block;
  }
}
.main-header .btn {
  width: 250px;
}
.header-sm-screen .btn {
  margin: 1rem auto 0 auto;
}
.header-lg-screen .btn {
  margin: 0;
}
.main-header h3 {
  color: var(--blue1);
  margin-bottom: 0;
  text-transform: uppercase;
}
.main-header h3:hover {
  color: var(--blue2);
}
.main-header p {
  color: var(--grey1);
  letter-spacing: -0.6px;
}
.main-header p a:hover {
  text-decoration: underline;
}
.nav-list li {
  margin-right: 1rem;
}
.nav-list li a {
  color: var(--dark);
  font-family: var(--f-family1);
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
  border-bottom: 5px solid transparent;
}
.nav-list li.blue a {
  color: var(--blue1);
}
.nav-list a:not(.active):hover,
.nav-list li.active a {
  color: var(--blue1);
  border-bottom-color: var(--dark);
}
.drop-down {
  position: absolute;
  top: auto;
  background-color: var(--light-grey);
}
.drop-down a {
  display: block;
  width: 100%;
  padding: 0.5rem 0 0.3rem 0.5rem;
  transition: all 0.3s linear;
}
.header-lg-screen .header-tools {
  padding-bottom: 5px;
}
.header-lg-screen .header-tools a {
  font-family: var(--f-family1);
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
}
.header-lg-screen .header-tools a:hover {
  text-decoration: underline;
}
.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 101;
  border-bottom: 1px solid var(--grey2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* MAIN */
main {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 1rem;
}
.article-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  .article-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .article {
    width: 70%;
    margin-right: 1rem;
  }
  .sidebar {
    width: 30%;
  }
}
.article p a {
  color: var(--blue1);
}
.article p {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 25px;
  line-height: 1.5625rem;
  margin: 0 0 0.6875rem;
}
.article-title {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.0375rem;
  line-height: 35px;
  line-height: 2.1875rem;
}
@media screen and (min-width: 750px) {
  .article-title {
    font-size: 50px;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 51px;
    line-height: 3.1875rem;
  }
}
.social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.6rem;
}
.social-links img:hover {
  opacity: 0.5;
}

.social-links a {
  margin: 0 0.6rem;
}
.social-links a:nth-child(1) {
  margin-left: 0;
}
.article-info {
  margin-bottom: 0.5rem;
}
.article-info p {
  font-family: var(--f-family1);
}
.article-info .title {
  letter-spacing: 1px;
  color: var(--grey4);
  font-weight: 700;
}
.article-info .title:hover {
  text-decoration: underline;
}
.article-info .author {
  letter-spacing: 1px;
  color: var(--blue1);
}
figure {
  margin-bottom: 1rem;
}
figure img {
  display: block;
  width: 100%;
  margin: 0 auto 0.5rem;
}
.figcaption p {
  font-family: var(--f-family1);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 15px;
  line-height: 0.9375rem;
}
.figcaption p.image-caption {
  font-weight: 700;
  margin-bottom: 0.1rem;
}
.figcaption p.image-credit {
  font-weight: 400;
}

.box-out {
  background: var(--light-grey);
  margin: 1rem 0;
  padding: 0.7rem;
  width: 100%;
}
.box-out h4,
.box-out h4 a {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  margin: 0;
}
.box-out h4 a {
  color: var(--blue1);
  margin-left: 0.4rem;
}
p.references {
  font-family: var(--f-family1);
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 19px;
  line-height: 1.1875rem;
}
p.references i {
  font-family: var(--f-family2);
  font-weight: 400 !important;
}
.article-topics {
  margin: 2rem 0;
}
.article-topics p {
  font-family: var(--f-family1);
  font-weight: 700;
}
.article-topics,
.article-topics ul {
  display: flex;
  justify-content: flex-start;
}
.article-topics ul {
  margin-left: 1rem;
}
.article-topics .btn {
  margin: 0 0.5rem;
}
/* sidebar */
.section-tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section-tabs .btn {
  flex: 1;
  border-left: 3px solid var(--white);
  background-color: var(--light-grey);
  color: var(--text-primary);
  border-radius: 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 17px;
  line-height: 1.0625rem;
}
.section-tabs .btn:nth-child(1) {
  border-left: none;
}
.section-tabs .btn:hover {
  background-color: #ddd;
}

.section-tabs .btn.active {
  background-color: var(--blue1);
  color: var(--white);
}
.trending-active {
  display: block;
  margin-bottom: 3rem;
}
.trending-active ol {
  display: flex;
  flex-direction: column;
}
.trending-active li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid var(--white);
  background-color: var(--light-grey);
  font-family: var(--f-family1);
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: -0.0375rem;
  line-height: 25px;
  line-height: 1.5625rem;
  padding: 0.6875rem;
}
.trending-active li a:hover {
  color: var(--blue1);
}
.trending-active h1 {
  font-size: 2rem;
  color: var(--blue1);
}
.section-bottom-1,
.section-bottom-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.promotion {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-grow: 1;
  max-width: 550px;
}
.btn-groupe {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 0.5rem;
}
.btn-groupe .btn {
  width: 100%;
  margin-bottom: 0.5rem;
  color: var(--white);
}
@media screen and (min-width: 750px) {
  .section-bottom-1 {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.section-bottom-2 h2 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5rem;
  width: 100%;
}
.cards {
  display: flex;
  flex-direction: column;
}
.card {
  position: relative;
  margin-bottom: 0.5rem;
  margin-right: 0;
}
.card a.title {
  position: absolute;
  top: 0;
  color: var(--white);
  z-index: 100;
}
.card a.title:hover {
  text-decoration: underline;
}
.card a.title.space {
  background-color: var(--grey4);
}
.card a.title.earth,
.card a.title.environment {
  background-color: var(--yellow);
}
.card img {
  max-width: 100%;
  width: 100%;
}
.card h2 {
  margin-top: 0.5rem;
}
.card:hover > a img {
  transform: scale(1.01);
}
.card:hover > a h2 {
  color: var(--blue1);
}
@media screen and (min-width: 750px) {
  .cards {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card {
    margin-right: 1rem;
    margin-bottom: 0;
    width: 25%;
  }
}
/* FOOTER */
footer {
  padding: 1.5rem 1rem;
  background-color: var(--light-grey);
}
.footer-content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-heading {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 27px;
  line-height: 1.6875rem;
}
.signup-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.signup-form input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 0.4rem;
  width: 100%;
  border-bottom: 2px solid var(--black);
  font-family: 'PT Serif', Georgia, serif;
  font-size: 1rem;
  line-height: 1rem;
}
.signup-form .btn,
.signup-form input {
  margin-top: 1rem;
}
.signup-form .btn,
.footer-nav .btn {
  min-width: 10rem;
}
@media screen and (min-width: 750px) {
  .signup-form {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .signup-form .btn,
  .signup-form input {
    margin-top: 0rem;
  }
  .signup-form input {
    width: 35%;
    margin: 0 1rem;
  }
}
.footer-nav {
  margin: 1rem 0;
}
.footer-nav--border {
  border-bottom: 1px solid var(--grey2);
  padding-bottom: 0.6875rem;
}
.footer-nav ul,
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-nav li {
  border-right: 1px solid var(--grey3);
  margin: 0 0.6875rem 0 0;
  padding: 0 0.6875rem 0 0;
  text-align: center;
}
.footer-nav li:last-child {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}
.footer-nav a {
  font-family: var(--f-family2);
  color: var(--text-primary);
}
.footer-nav a:hover {
  color: var(--blue1);
}
.footer-nav .btn {
  margin: 1rem auto 0;
}
.footer-section {
  margin: 2.5rem 0 1rem;
}
.footer-section h3 {
  font-family: var(--f-family1);
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  line-height: 1.1875rem;
  text-align: left;
  text-transform: uppercase;
}
.footer-apps {
  margin-right: 1.87rem;
  vertical-align: top;
}
.footer-social {
  vertical-align: baseline;
}
.footer-section a img {
  margin-right: 0.7rem;
}
.footer-section a img:last-child {
  margin-right: 0;
}
.footer-social img:hover {
  opacity: 0.5;
}
.footer-additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 0;
}
.footer-additional p {
  font-size: 0.875rem;
  line-height: 4rem;
  color: var(--text-primary);
}
.footer-additional i.top {
  font-size: 24px;
  color: var(--text-primary);
  border: 3px solid var(--black);
  padding: 0.2rem;
  border-radius: 999px;
  margin-left: 1.5rem;
}
.footer-additional i.top:hover {
  opacity: 0.5;
}
.footer-additional a {
  font-weight: 600;
  line-height: 40px;
  font-family: var(--f-family1);
  color: var(--text-primary);
}
